# Gradle
.gradle/
build/
**/build/
bin/
**/bin/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json
*.iws
*.ipr
.classpath
.project
.settings/

# OS
.DS_Store

# JVM
hs_err_pid*.log
replay_pid*.log

# jqwik failure-replay cache
.jqwik-database
**/.jqwik-database
